<html>
   <body>
      <title>Made by aditya</title>
      <h1>Welcome to BMI Calculator</h1>
      <form action = "{{ url_for('login') }}" method = "post">
         <p>Enter First Name:</p>
         <p><input type = "text" name = "firstname" /></p>
         <p>Enter Last Name:</p>
         <p><input type = "text" name = "lastname" /></p>
         <p>Enter Your Weight in (kg):</p>
         <p><input type = "number"step=0.001 name = "weight" /></p>
         <p>Enter Your Height in (m):</p>
         <p><input type = "number" step=0.001 name = "height" /></p>
         <p>Enter Your Phone number :</p>
         <p><input type = "pnumber" name = "pnumber" /></p>
         <p><input type = "submit" step=0.001 value = "Submit" /></p>
      </form>
   </body>
</html>
